@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #93d9eb;
  /* edb0b0 */
  --secondary-color: #212121;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-theme {
  --primary-color: black;
  --secondary-color: white;
  --box-shadow: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-color);
}

h3 {
  color: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.title {
  font-size: 2rem;
  text-align: center;
  color: black;
}

#cat {
  height: 250px;
  width: 270px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.image-inner-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--primary-color);
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.image-details-container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

#view-icon,
#view-icon-1 {
  width: 30px;
  cursor: pointer;
}

.hidden {
  display: none;
}
